$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
}

h1 {
    font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron img {
    margin-bottom:20px;    
}

.jumbotron input[type="text"] {
    width: 100%;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.haisyo {
    background-color: #eee;
    border: 1px solid #efe;
    border-radius: 12px;
    display: inline-block;
    float: left;
    margin: 3px 3px 3px 0;
    padding: 10px 16px 0 16px;
    max-width: 100%;
    word-wrap: break-word;
    p:after{
        content: ' の件、拝承いたしました。';
    }
}

.haisyo-list {
    &.ng-enter {
      left: -100px;
      position: relative;
      transition: 0.3s ease-out all;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    &.ng-enter-active {
      left: 0;
    }
}

/* 拝承に順序があるように見せるため、先頭二つを必ず縦にならべます。 */
.haisyo-list:nth-child(1){
    .haisyo{
        border-radius: 16px;
        font-size: 200%;
        line-height: 200%;
        width: 100%;
    }
}
.haisyo-list:nth-child(2){
    .haisyo{
        font-size: 150%;
        line-height: 150%;
        width: 100%;
    }
}

/* 拝承の末尾の文字を徐々に薄くします。 */
.haisyo-list:nth-last-child(3) .haisyo{
    color: #666;
}
.haisyo-list:nth-last-child(2) .haisyo{
    color: #999;
}
.haisyo-list:nth-last-child(1) .haisyo{
    color: #bbb;
}

/* 過去の拝承ボタンのオフセット用 */
.top-buffer {
    margin-top:20px;
}

/* あの木の角丸 */
.lead img {
    border-radius: 3px;
    padding-bottom: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    .jumbotron input[type="text"] {
        width: 80%;
        vertical-align: middle;
    }

    /* 画面が大きいときは2番目以降を少し短くする */
    .haisyo-list:nth-child(2){
        .haisyo{
            width: 98%;
        }
    }
     .haisyo-list:nth-child(n+3){
        .haisyo{
            max-width: 98%;
        }
    }
 }

/* 1280ディスプレイでの最大表示用 */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1250px;
    }
    .jumbotron img {
        float: left;    
    }
}