<div class="row jumbotron">
  <h1>大拝承</h1>
  <p class="lead">
    <img src="images/hitachi-tree-300.png" alt="あの木画像"><br>
    現在{{count}}拝承いたしております。<br>
    謹んで承りたき議、何なりとお申し付けください。
  </p>
  <form ng-submit="doHaisyo()">
    <input type="text" ng-model="content" scroll-on="change" autofocus/><a class="btn btn-lg btn-success" ng-click="doHaisyo()" href="#" scroll-on="click">拝承！</a>
  </form>
</div>

<div class="row">
  <div class="haisyo-list" ng-repeat="haisyo in haisyos">
    <div class="haisyo">
      <p>{{haisyo.content | limitTo:1600 }}</p>
    </div>
  </div>
</div>
<div class="row">
  <p class="text-center top-buffer">
    <a class="btn btn-lg btn-primary" ng-click="moreHaisyo()" ng-show="!hideMoreHaisyo" href="#">過去の拝承！</a>
  </p>
  <p class="text-center">
    <span ng-show="!hideMoreHaisyo">残り{{backlogCount}}拝承ございます。</span>
    <span ng-show="showLast">すべて拝承いたしました。</span>
  </p>
  <div class="progress progress-striped active" ng-show="showLoading">
    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
    <span class="pull-right text-success">拝承！</span>
  </div>
</div>
<p></P>

<div class="row footer">
  <p>これは｢大承認｣より「大拝承」の方が字面がかっこいいというだけの理由で作ったジョークアプリケーションです。日立製作所様および<a href="http://daishonin.hatelabo.jp/" target="_blank">大承認</a>様とは一切関係がございません。</p>
  <p>拝承については<a href="http://dic.nicovideo.jp/a/%E6%8B%9D%E6%89%BF" target="_blank">こちら</a>をご覧ください。</p>
</div>
