<div ng-include="'partials/navbar'"></div>
<div class="jumbotron">
  <h1>拝承！拝承！</h1>
  <h1>{{ currentUserName }}様!</h1>
  <p class="lead">
    <img src="images/hitachi-tree-300.png" alt="I'm Yeoman"><br>
    謹んで承りたき議、何なりとお申し付けください。
  </p>
  <form ng-submit="doHaisyo()">
    <input type="text" ng-model="content" scroll-on="change"/><a class="btn btn-lg btn-success" ng-click="doHaisyo()" href="#" scroll-on="click">拝承！</a>
  </form>
</div>

<div class="row marketing">
  <div ng-repeat="haisyo in haisyos">
    <div class="haisyo">
      <p>{{haisyo.user}}様</p>
      <p>{{haisyo.content}} の件、拝承いたしました。</p>
    </div>
  </div>
</div>
<p class="row">
  <a class="pull-right btn btn-primary" ng-click="moreHaisyo()" ng-show="!hideMoreHaisyo" href="#">もっと拝承！</a>
  <div class="progress progress-striped active" ng-show="showLoading">
    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
    <span class="pull-right text-success">拝承！</span>
  </div>
</p>

<div class="footer">
  <p>これはジョークアプリケーションです。日立製作所様および<a href="http://daishonin.hatelabo.jp/" target="_blank">大承認</a>様とは一切関係がございません。</p>
</div>
